{{define "title"}}About{{end}}

{{define "main"}}
	<h2>A little about me...</h2>
	<div class='excerpt-item'>
		<p>I joined the U.S. Navy out of high school in 2005 and started basic training 2006. After training I was stationed in Yokosuka, Japan with 7th Fleet in 2007 to be an engine room technician on the USS Gary. During that time there was what is called a "hull swap" and I moved onboard to the USS McCampbell. In 2009, due to a dancing incident, I dislocated my patella and was subsequently removed from the ship and put on limited duty while I went through rehabilitation. Unfortunately, during rehab I began having other unrelated health problems which eventually resulted in my being medically separated from the Navy and put on disability in early 2011.</p>

		<p>Not long before I was separated, while working as a system administrator at the base hospital, I began teaching myself how to program and got CompTIA's A+, Network+, and Security+ certifications; I had been interested in computers at least since high school and a good deal of it came naturally to me. So, after separating, I decided to continue teaching myself how to program in order to eventually work as a developer. Since then I have been working through books and writing code, learning not just how to program but also about computer architecture, operation systems, security, and as much of all the rest that I can fit into my day.</p>

		<p>Around 2014 I decided to use my GI Bill and began working toward a bachelor's degree in computer science. Perhaps not surprisingly, life has had a few challenging detours for me to get through, and only in December of 2023 did I finally graduate. Also, somewhere within that span of ten years I turned to existentialism for solace and am always reading something apart from my computer science studies.</p>

		<p>As anyone knows, life isn't easy, and it can be hard to find encouraging words which are also substantial and meaningful enough to pick one up during dark, difficult times. Fortunately for us we are the progeny of many wise and sympathetic people who left behind little gems of advice for the trials and tribulations which are an inherent part of the human condition. That being said, I am, I suppose, somewhat of a collector of these gems, and I built this website so that I could share them with others.</p>
	</div>
{{end}}
