{{define "title"}}About{{end}}

{{define "main"}}
	<h2>A little about me...</h2>
	<div class='excerpt-item'>
		<p>After joining the U.S. Navy in 2005 as an engineroom technician and being stationed in Japan, an injury in 2009 led to a medical separation from the service in 2011. During rehabilitation, I began exploring my interest in computers, teaching myself to program and earning CompTIA certifications. This self-study continued as I pursued a bachelor's degree in computer science with the GI Bill, a journey that, despite a number of significant challenges, culminated in my graduating in December of 2023. Also, alongside my academic and professional development, over the years I've found solace in existentialism and have integrated much of the philosophy I learned from it into my life.</p>

		<p>As anyone knows, life isn't easy, and it can be hard to find encouraging words which are also substantial and meaningful enough to pick one up during dark, difficult times. Fortunately for us we are the progeny of many wise and sympathetic people who left behind little gems of advice for the trials and tribulations which are an inherent part of the human condition. That being said, I am, I suppose, somewhat of a collector of these gems, and I built this website so that I could share them with others.</p>
	</div>
{{end}}
