{{define "title"}}Analytics Dashboard{{end}}

{{define "main"}}
<form action='/logout' method='POST'>
	<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
	<button>Logout</button>
</form>

<div id='dashboard-root'></div>
<script src='static/js/dashboard.js'></script>
{{end}}
