{{define "title"}}Excerpts{{end}}

{{define "main"}}
	{{if .Excerpts}}
		<h2>Here are excerpts from my reading that I found interesting.</h2>
		{{range .Excerpts}}
			<div class='text-box'>
				<div class='metadata'>
					<a href='/excerpts/{{.ID}}'>
						<strong>{{.Author}}</strong>
						<br>
						<strong>{{.Work}}</strong>
					</a>
				</div>
				<hr />
				<div class='body'>{{.Body}}</div>
			</div>
			<br>
		{{end}}
	{{else}}
		<p>There's nothing to see here... yet!</p>
	{{end}}
{{end}}
