{{define "title"}}{{.Excerpt.Author}} - {{.Excerpt.Work}}{{end}}

{{define "main"}}
	{{with .Excerpt}}
	<article class='excerpt-item'>
		<header class='excerpt-metadata'>
			<strong>{{.Author}}</strong>
			<br>
			<strong>{{.Work}}</strong>
		</header>
		<hr />
		<div class='excerpt-body'>{{markdownToHTML .Body}}</div>
	</article>
	{{end}}
{{end}}
