{{define "nav"}}
<nav align='center'>
	<span>
		<a href='/'>Home</a>
		<a href='/excerpts'>Excerpts</a>
		{{if .IsAuthenticated}}
			<a href='/dashboard'>Dashboard</a>
		{{end}}
		<a href='/about'>About</a>
	</span>
	<span>
		<a href='https://github.com/moylanm'><img title='Github' src='/static/img/github.png'></a>
		<a href='mailto:contact@mylesmoylan.net'><img title='Contact' src='/static/img/mail.png'></a>
	</span>
</nav>
{{end}}
