{{define "nav"}}
<nav align='center'>
	<span>
		<a href='/'>Home</a>
		<a href='/excerpts'>Excerpts</a>
		<a href='/about'>About</a>
		{{if .IsAuthenticated}}
			<a href='/dashboard'>Dashboard</a>
			<form action='/logout' method='POST'>
				<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
				<input type='submit' class='logout-button' value='Logout'>
			</form>
		{{end}}
	</span>
	<span>
		<a href='https://www.linkedin.com/in/myles-moylan'><img title='LinkedIn' src='/static/img/linkedin.png'></a>
		<a href='mailto:contact@mylesmoylan.net'><img title='Contact' src='/static/img/mail.png'></a>
	</span>
</nav>
{{end}}
