* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Merriweather", monospace;
}

html,.excerpt-body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
}

header, nav, main, footer {
    padding: 2px calc((100% - 800px) / 2) 0;
}

main {
    margin-top: 54px;
    margin-bottom: 32px;
    min-height: calc(100vh - 345px);
    overflow: auto;
}

h1 a {
    font-size: 36px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 36px;
    position: relative;
}

h1 a:hover {
    text-decoration: none;
    color: #34495E;
}

h2 {
    font-size: 22px;
    margin-bottom: 24px;
    position: relative;
    top: -9px;
    text-align: center;
}

a {
    color: #62CB31;
    text-decoration: none;
}

a:hover {
    color: #4EB722;
    text-decoration: underline;
}

p {
    padding: 1em;
}

header {
    background-size: 100% 6px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #E4E5E7;
    overflow: auto;
    padding-top: 33px;
    padding-bottom: 27px;
    text-align: center;
}

header a {
    color: #34495E;
    text-decoration: none;
}

nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 30px;
    color: #6A6C6F;
}

nav a {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
}

@media (max-width: 375px) {
    nav a {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

@media (max-width: 320px) {
    nav a {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
}

nav span:first-child {
    float: left;
}

nav span:last-child {
    float: right;
    vertical-align: middle;
}

button, a.button, input[type="submit"] {
    background-color: #62CB31;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 14px 17px;
    border: none;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 14px;
    font-weight: 700;
}

button:hover, a.button:hover, input[type="submit"]:hover {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    button:hover {
        background-color: #4EB722;
    }
}

@media (hover: none), (hover: on-demand) {
    button:active {
        background-color: #4EB722;
    }
}

fieldset {
    border: 0;
}

form {
    margin-left: 10px;
    margin-right: 10px;
}

form div {
    margin-bottom: 10px;
}


form input[type="radio"] {
    margin-left: 18px;
}

form select {
    margin-left: 18px;
}

form label {
    display: inline-block;
    margin-bottom: 9px;
}

form div:last-child a {
    background-color: #62CB31;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 11.5px 14px;
    border: none;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 14px;
    font-weight: 700;
}

form div:last-child a:hover {
    background-color: #4EB722;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    padding: 0.75em 18px;
    width: 100%;
}

form input[type=text], form input[type="password"], form input[type="email"], textarea {
    color: #6A6C6F;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

.error + textarea, .error + input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

div.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

div.error {
    color: #FFFFFF;
    background-color: #C0392B;
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

textarea {
    padding: 18px;
    width: 100%;
    height: 266px;
}

.divider {
    box-sizing: border-box;
    width: 5px;
    height: auto;
    display: inline-block;
}

.excerpt-item {
    background-color: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
    margin-bottom: 30px;
}

.excerpt-item .excerpt-metadata {
    background-color: #F7F9FA;
    color: #6A6C6F;
    padding: 0.75em 18px;
    overflow: auto;
    text-align: center;
}

.excerpt-item .excerpt-metadata span {
    float: right;
}

.excerpt-item .excerpt-metadata a strong {
    color: #62CB31;
}

.excerpt-item .excerpt-metadata strong {
    color: #34495E;
}

table {
    background: white;
    border: 1px solid #E4E5E7;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 9px 18px;
}

th:last-child, td:last-child {
    text-align: right;
}

tr {
    border-bottom: 1px solid #E4E5E7;
}

tr:nth-child(2n) {
    background-color: #F7F9FA;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 30px;
    color: #6A6C6F;
    text-align: center;
}

.dropdown-container {
    display: flex;
    align-items: left;
    flex-direction: row;
}

@media (max-width: 430px) {
    .dropdown-container {
        flex-direction: column;
    }

    .author-dropdown {
        margin-bottom: 10px;
    }
}

.author-dropdown {
    margin-right: 20px;
}

:root {
    scroll-behavior: smooth;
}

.rtt {
    display: none;
    opacity: 0.65;
    position: fixed;
    bottom: 20px;
    float: right;
    right: 5.5%;
    padding: 5px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
    border: 2px solid #62CB31;
    border-radius: 50%;
}

@media (hover: hover) {
    .rtt:hover {
        opacity: 1;
    }
}

@media (hover: none) {
    .rtt:active {
        opacity: 1;
    }
}

.rtt img {
    object-fit: scale-down;
    height: auto;
}

.arrows {
    object-fit: scale-down;
    min-width: 100%;
    min-height: 40px;
}

.arrows .right-arrow {
    float: right;
}

.loading-message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-message {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
